<div style="padding: 17px; padding-top: 0px;">
  <span ng-hide="error">
  Allow the browser to use your web cam and after that share the URL from the address bar with the people you want to talk with.
  </span>
  <br>
  <span ng-bind="error"></span>
</div>

<div class="video-wrapper">
  <video-player class="col-md-4" ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
</div>

<div class="video-wrapper">
  <div class="col-md-2">
    <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
  </div>
</div>

